# Ignore everything
/*

# But keep the .gitignore itself
!.gitignore

# Keep specific files
!README.md
!main.nf
!nextflow.config
!pipeline_parameters.yml
!STAR_versions.yml
!samplesheet.csv
!*.txt
!LICENSE

# Keep specific directories (and their contents)
!/modules/
!/workflows/
# !/contents/
