manifest {
    description = 'DRIP-seq STAR Protocol: A Nextflow pipeline for processing DRIP-seq'
    homePage = 'https://github.com/MCrossleyLab/DRIP-seq_STAR_Protocol'
    nextflowVersion = '>=25.10.2'
}

params {
    samplesheet  = "${projectDir}/samplesheet.csv"
    genome_path  = "${projectDir}/Genomics/indexes"

    outdir_path  = "$projectDir"
    outdir_name  = "results"
    outdir       = "${params.outdir_path}/${params.outdir_name}"
    
    bowtie2_index_dir       = params.genome_path
    bowtie2_extra_params    = '--no-unal --no-mixed --no-discordant'
    bowtie2_index_suffix    = ""                                        // Optional: suffix to add, if you name indexes like hg38_mm10_spike
    species_list            = []                                        // Optional: suffix to add, if you name indexes like hg38_mm10_spike
}

profiles {
    local {
        process {
            executor = 'local'
            conda.createOptions = "-n DRIP-seq_STAR -f $projectDir/envs/environment.yml"
            // conda = "$projectDir/envs/environment.yml"
        }
    }

    slurmc {
        process {
            executor = 'slurm'
            cpus = '8'
            memory = '4G'
            time = '30min'
            queue = 'epyc'
            conda.createOptions = "-n DRIP-seq_STAR -f $projectDir/envs/environment.yml"
            // conda = "$projectDir/envs/environment.yml"
            withName: 'BOWTIE2_ALIGN' { 
                cpus = '20'
                memory = 16.GB
                time = '4h'
            }
            // markdup_bams
            withName: 'SAMTOOLS_COLLATE|SAMTOOLS_FIXMATE|SAMTOOLS_SORT|SAMTOOLS_MARKDUP_INDEX' {
                errorStrategy = 'retry'
                maxRetries    = 3
                memory = {
                    def base = 10.GB
                    def m = base * (2 ** (task.attempt - 1))
                    m > 16.GB ? 16.GB : m
                }
            }
            // deeptools
            withName: 'BAMCOVERAGE' {
                memory = 20.GB
                cpus = '20'
            }
        }
    }

    conda { 
        enable_conda = true
        // createOptions = "-n DRIP-seq_STAR -f $projectDir/envs/environment.yml"
    }
}